body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://cdn.vectorstock.com/i/500p/64/20/neon-quiz-screen-with-question-and-exclamation-vector-56866420.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 270px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 214, 2);
    font-size: large;
    background-color: aliceblue;
    margin: 40px;
    margin-top: 0px;
    border: 5px solid rgb(14, 71, 168);
    background-image: url("https://img.pikbest.com/back_our/20210612/bg/d4c518fa3d0ea.jpg!w700wp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.3s ease;
}
p{
    font-size: 60px;
    margin-top: 220px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 30px;
    color: rgb(247, 214, 2);
}
.container:hover {
    transform: translateY(-10px) scale(1.08);    
    box-shadow: 0px 20px 35px 0px rgba(223, 228, 77, 0.773);    
    border-color: gold;                           
    filter: brightness(1.2); 
    font-weight: bolder;
    font-style: italic;
}
