body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://img.pikbest.com/back_our/20210612/bg/d4c518fa3d0ea.jpg!w700wp");
    background-size: cover;
}
.outer{
    text-align: center;
    margin-top: 140px;
    width:40vw;
    height: 65vh;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    background-color: #D6A99D;
}
.btn{
    width:36vw;
    height:30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: start;

}
#next{
    margin-top: 20px;
    background-color: blue;
    width:150px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}
#home{
    margin-top: 20px;
    background-color: blue;
    width:150px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
}
#dh{
    width:100vw;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    border: 3px solid rgb(247, 214, 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#gohome{
    color: white;
    background-color: #f000f0;
    padding: 3px;
    border-radius: 10px;
}
#bestscore{
    color: rgb(8, 235, 8);
    font-style: bold;
}
#scoredis{
    color: rgb(8, 235, 8);
}
.btn:hover{
    background-color: gray;
}