body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://img.pikbest.com/back_our/20210612/bg/d4c518fa3d0ea.jpg!w700wp");
    background-size: cover;
}
.outer{
    text-align: center;
    margin-top: 140px;
    width:40vw;
    height: 65vh;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    background-color: #D6A99D;
}
.btn{
    width:36vw;
    height:30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: start;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
.btn:hover{
    background-color: gray;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#next{
    margin-top: 20px;
    background-color: blue;
    width:150px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#next:hover {
    background-color: rgb(0, 140, 255);
    transform: scale(1.08);
    box-shadow: 0 0 12px rgba(0, 140, 255, 0.7);
}
#home{
    margin-top: 20px;
    background-color: blue;
    width:150px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
    cursor: pointer;
}
#home:hover{
    transform: scale(1.08);    
    box-shadow: 3px 3px 3px 3px rgba(223, 228, 77, 0.773);    
    border-color: gold;                           
    filter: brightness(1.2); 
    font-weight: bolder;
    font-style: italic;
}
#dh{
    width:100vw;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    border: 3px solid rgb(247, 214, 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#gohome{
    color: white;
    background-color: #f000f0;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}
#gohome:hover{
    transform: scale(1.08);    
    box-shadow: 3px 3px 3px 3px rgba(32, 205, 52, 0.59);    
    border-color: gold;                           
    filter: brightness(1.2); 
    font-weight: bolder;
    font-style: italic;
}
#bestscore{
    color: rgb(8, 235, 8);
    font-style: bold;
}
#scoredis{
    color: rgb(8, 235, 8);
}
